<div class="emailListing no-right-pad" ng-click="handleClick()">
    <div ng-transclude></div>
    <div class="col-xs-3 text-center">
        <img ng-src="{{gravatarImage}}" alt="{{email.from[0]}}">
    </div>

    <div class="col-xs-9 no-left-pad">
        <div class="row">
            <span class="fromLine">            
            <b>{{email.from}}</b>
        </span>
        </div>
        <div class="row">
            <span class="subjet">{{email.subject}}</span>
        </div>
    </div>
</div>
