<div class="col-sm-3 emails-container" ng-controller="MailListingController">

    <input class="form-control" type="search" placeholder="Filter messages" ng-model="search" />

    <ul id="emailsListing">
        <li email-listing email="mail" gravatarSize='20' action='setSelectedMail(selectedMail)' ng-repeat="mail in email| filter:search"> </li>
    </ul>
</div>
<div class="col-sm-9" ng-controller="ContentController">
    
    <div ng-show="!selectedMail">
        <h2>No Conversation Selected</h2>
    </div>
    <div ng-show="selectedMail">
        <form class="form" id="replyForm" ng-submit="sendEmailReply()" ng-show="showingReply">

            <div class="form-group">
                <label for="exampleInputEmail2">To</label>
                <input type="email" class="form-control" id="exampleInputEmail2" ng-model="reply.to">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Message......" ng-model="reply.body"></textarea>
            </div>
            <button class="btn btn-default" ng-click="sendReply()">Send</button>
            <button class="btn btn-danger" ng-click="toggleReplyForm()">Cancel</button>

        </form>
        <div class="row header">
            <div class="col-sm-6">{{selectedMail.subject}}</div>
            <div class="col-sm-6">{{selectedMail.sent_at | date:"dd/MM/yy"}}</div>
        </div>

        <div class="row action">
            <div class="col-sm-8">{{selectedMail.from.join(", ")}} to {{selectedMail.to}}</div>
            <a ng-click="toggleReplyForm()" class="btn btn-default">Reply</a>
            <div class="col-sm-12" ng-bind="selectedMail.body"></div>

        </div>

    </div>
</div>
