<div class="container">

    <h1>Settings</h1>
    <form name="form" ng-submit="updateSettings()">
        <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" ng-model="settings.name" required>

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Email" ng-model="settings.email" required>


            <div class="form-group">
                <label for="exampleInputAge">Age</label>
                <input type="number" class="form-control" name="age" placeholder="Age" ng-model="settings.age">
            </div>

            <button type="submit" class="btn btn-default" ng-disabled="form.$dirty && form.$invalid ">Update</button>
    </form>

    </div>
